@using Fabstore.Domain.Models
@using FabstoreWebApplication.Helpers

@model List<Wishlist>

@{
    ViewData["Title"] = "My Wishlist";
    }

    @section Styles {
    <link rel="stylesheet" href="~/css/cart/index.css" asp-append-version="true" />
    }

@if (Model == null || Model.Count == 0)
    {
    <div class="empty-cart-container">
        <div class="empty-cart-message">
            <h2>Your Wishlist is currently empty</h2>
            <p>Looks like you haven’t added anything to your Wishlist yet.</p>
            <a asp-controller="Product" asp-action="Index" class="shop-now-btn">Continue Shopping</a>
        </div>
    </div>
    return;
    }


<h1>My Cart</h1>

<div id="cart-container">
    @foreach (var item in Model)
        {
        var productPrice = item.Variant?.Price;
        var imageUrl = item.Variant?.Images?.Where(i => i.VariantID == item.VariantID).Select(i => i.ImageUrl).FirstOrDefault();
        var productName = StringHelper.CapitalizeEachWord(item.Variant?.Product?.ProductName ?? "Product Name");
        var productColor = StringHelper.CapitalizeEachWord(item.Variant?.Color ?? "Color");
        var productSize = item.Variant?.Size ?? "Size";
        var variantId = item.VariantID;
        var productCategory = StringHelper.CapitalizeEachWord(item.Variant?.Product?.Category?.CategoryName ?? "Category Name");


        <div id="@($"wishlist-item-{variantId}")" class="cart-item" data-cart-id="@item.WishlistID" data-unit-price="@productPrice">
            <a asp-controller="Product" asp-action="Details" asp-route-id="@variantId" asp-route-category="@productCategory">
                <img src="@imageUrl" alt="@productName" class="product-img" />
            </a>

            <div class="product-details">
                <h3>@productName</h3>
                <p>Color: @productColor</p>
                <p>Size: @productSize</p>
                <p>Price per item: ₹@productPrice</p>

                
                <div class="cart-btns">
                    <a id="add-cart-btn" class="remove-cart-btn" data-variant-id="@variantId">Add to Cart</a>
                    <a id="remove-btn" class="buy-btn">Remove</a>
                </div>
            </div>
        </div>

        }
</div>

    @* @section Scripts {
  
    } *@
